.filter {
  background-color: var(--background);
  display: inline-flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.name {
  color: var(--desaturated-dark-cyan);
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
}

.remove {
  background-color: var(--desaturated-dark-cyan);
  padding: 1.2rem;
}

.remove img {
  pointer-events: none;
}
